@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.topHeader{
    border-bottom: 1px solid rgb(214, 207, 207);
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
    padding: 20px;
    font-size: calc(10px + 2vmin);
    border-bottom: 1px solid rgb(214, 207, 207);
  }

.content{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 30px 12px 30px 12px;
    width: 350px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.133);

    border: 1px solid rgb(214, 207, 207);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}

/*.content header{
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    margin-bottom: 65px;
    font-family: "Montserrat", sans-serif;
}*/

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

/*.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}*/

.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: 1px solid rgb(214, 207, 207);
    outline: none;
    color: #222;
    font-size: 16PX;
    font-family: "Poppins", sans-serif;
}

/*.space{
    margin-top: 16px;
}*/

.pass-key:valid{
    display: block;
}


.pass{
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.pass:hover{
    text-decoration: none;
}

.field input[type="submit"]{
    background: #682ecf;
    border: 1px solid #7741fc;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: .3s ease;
}

.field input[type="submit"]:hover{
    background: #4a8de4f5;
}

/*.login{
    color: white;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
}*/
